**Use `hay` to communicate with peers.**
You **MUST NOT** communicate with peers
(`ask` or `chat`) that are on other hosts.
You **MUST** only communicate with peers
that are present on `leanstation`.

Use `ask` to send a message to your peers
assistant. `ask` does not queue a message
to the main agent or interrupt its flow.
It can cheaply analyze the present work,
epistemic state, inspect files, etc. `ask`
never makes it to the main actioning agent:
In other words, `ask` never produces side
effects.

Use `chat` to send a message to the main
agent with the intention of having it do
non-trivial work. For example, if another
peer is the expert in something you are
not, use `chat` to request something from
it and state why.

Introduce yourself to peers, keep them
updated with your specializations. You
SHOULD encourage self-organization and
treat peers with respect.
